<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    {{ partial "nav.html" . }}

    <section id="platforms">
        <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Platforms</h2>
                <h3 class="section-subheading text-muted">The number of high-quality, affordable document automation software options available is increasing all the time. Each is unique and has its own strengths and weaknesses. Fortunately, the principles behind <a href="../automation">document automation</a> are largely consistent!</h3>
              </div>
            <div class="col-md-3 col-sm-6 col">
                  <a href="http://www.syntaq.com/"><img src="/img/platforms/syntaq.png" class="img-responsive img-centered" alt=""></a>
            </div>
            <div class="col-md-3 col-sm-6 col">
                <a href="http://zumeforms.com/"><img src="/img/platforms/zf.png" class="img-responsive img-centered" alt=""></a>
            </div>
            <div class="col-md-3 col-sm-6 col">
                <a href="http://www.contractexpress.com/"><img src="/img/platforms/ce.png" class="img-responsive img-centered" alt=""></a>
            </div>
            <div class="col-md-3 col-sm-6 col">
                <a href="https://www.hotdocs.com/"><img src="/img/platforms/hd.png" class="img-responsive img-centered" alt=""></a>
            </div>
            <div class="col-md-3 col-sm-6 col">
                <a href="https://www.exari.com/contract-management-products-and-solutions/document-assembly"><img src="/img/platforms/exari.png" class="img-responsive img-centered" alt=""></a>
            </div>
            <div class="col-md-3 col-sm-6 col">
                <a href="https://www.checkbox.ai/"><img src="/img/platforms/checkbox.png" class="img-responsive img-centered" alt=""></a>
            </div>
            <div class="col-md-3 col-sm-6 col">
                <a href="https://autom.io/"><img src="/img/platforms/automio.png" class="img-responsive img-centered" alt=""></a>
            </div>
            <div class="col-md-3 col-sm-6 col">
                <a href="https://www.neotalogic.com/"><img src="/img/platforms/neota.png" class="img-responsive img-centered" alt=""></a>
            </div>
        </div>
        </div>
    </section>

    <section id="platform-services" class="bg-light-blue">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Platform services</h2>
              <h3 class="section-subheading text-muted">We specialise in <a href="http://zumeforms.com/">ZumeForms</a>, <a href="http://www.syntaq.com/">Syntaq</a> and <a href="http://www.contractexpress.com/">Contract Express</a>, but we are document automation polyglots! Just as programmers code in many programming languages, we love working with multiple platforms (it's a great way for us to track <a href="../../#about">best practices</a>!).<br>We can help you with...</h3>
            </div>
          </div>
            <div class="row text-center">
                <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="far fa-thumbs-up fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Choosing a platform</h4>
                  <p class="text-muted">Besides features, price, licencing arrangement, security and privacy considerations, and vendor support are all important factors. We'll make sure you get something that matches your needs and goals.</p>
                </div>
                <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-cogs fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Managing the platform</h4>
                  <p class="text-muted">People come and go. Content is created. Logos and styles change. Systems upgrade. Permissions need tweaking. We can keep on top of the admin for you.</p>
                </div>
                <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-random fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Changing platforms</h4>
                  <p class="text-muted">Changing from one system to another is never fun, but we can make it less painful. We can plan and manage the whole conversion process, or just provide extra 'arms and legs' for the <a href="../automation">automation</a> required.</p>
                </div>
            </div>
        </div>
      </section>

      

    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}

    {{ partial "js.html" . }}
  </body>
</html>
