<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    {{ partial "nav.html" . }}

    <section id="platforms">
        <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Platforms</h2>
                <h3 class="section-subheading text-muted">The number of high-quality, affordable document automation software options is increasing all the time. We specialise in <a href="http://zumeforms.com/" target="_blank">ZumeForms</a>, <a href="http://www.syntaq.com/" target="_blank">Syntaq</a> and <a href="http://www.contractexpress.com/" target="_blank">Contract Express</a>, but we love working across multiple platforms. You might have come across platforms such as:</h3>
              </div>
            <div class="col-md-3 col-sm-6 col">
                  <a href="http://www.syntaq.com/" target="_blank"><img src="/img/platforms/syntaq.png"  class="img-responsive img-centered" alt="Syntaq"></a>
            </div>
            <div class="col-md-3 col-sm-6 col">
                <a href="http://zumeforms.com/" target="_blank"><img src="/img/platforms/zf.png"  class="img-responsive img-centered" alt="ZumeForms"></a>
            </div>
            <div class="col-md-3 col-sm-6 col">
                <a href="http://www.contractexpress.com/" target="_blank"><img src="/img/platforms/ce.png"  class="img-responsive img-centered" alt="Thomson Reuters Contract Express"></a>
            </div>
            <div class="col-md-3 col-sm-6 col">
                <a href="https://www.hotdocs.com/" target="_blank"><img src="/img/platforms/hd.png"  class="img-responsive img-centered" alt="HotDocs"></a>
            </div>
            <div class="col-md-3 col-sm-6 col">
                <a href="https://www.exari.com/contract-management-products-and-solutions/document-assembly" target="_blank"><img src="/img/platforms/exari.png"  class="img-responsive img-centered" alt="Exari DocGen"></a>
            </div>
            <div class="col-md-3 col-sm-6 col">
                <a href="https://www.checkbox.ai/" target="_blank"><img src="/img/platforms/checkbox.png"  class="img-responsive img-centered" alt="Checkbox.ai"></a>
            </div>
            <div class="col-md-3 col-sm-6 col">
                <a href="https://autom.io/" target="_blank"><img src="/img/platforms/automio.png"  class="img-responsive img-centered" alt="Automio"></a>
            </div>
            <div class="col-md-3 col-sm-6 col">
                <a href="https://www.neotalogic.com/" target="_blank"><img src="/img/platforms/neota.png"  class="img-responsive img-centered" alt="Neota"></a>
            </div>
        </div>
        </div>
    </section>

    <section id="platform-services" class="bg-light-blue">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Platform services</h2>
              <h3 class="section-subheading"> <br>We're happy to work with what you've got, or get you set up if you're just getting started. We can help you with...</h3>
            </div>
          </div>
            <div class="row text-center">
                <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="far fa-thumbs-up fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Choosing a platform</h4>
                  <p class="text-muted">Besides features, price, licencing arrangement, security and privacy considerations, and vendor support are all important factors. We'll make sure you get something that matches your needs and goals.</p>
                </div>
                <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-cogs fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Managing the platform</h4>
                  <p class="text-muted">People come and go. New content is created and updated. Logos and styles change. Systems get upgraded. Permissions need tweaking. We can keep on top of the admin for you.</p>
                </div>
                <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-random fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Changing platforms</h4>
                  <p class="text-muted">Changing from one platform to another is not always pleasant, but sometimes must be done. We can plan and manage the conversion process, or just provide extra 'arms and legs' for the <a href="../automation">automation</a> required.</p>
                </div>
            </div>
        </div>
      </section>

      

    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}

    {{ partial "js.html" . }}
  </body>
</html>
