{{ "<!-- About Section -->" | safeHTML }}
<section id="about" class="bg-dark-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.about.title }}{{ . | markdownify }}{{ end }}</h2>
        <h3 class="section-subheading text-muted">{{ with .Site.Params.about.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    <div class="row">  
      <div class="col-lg-10 col-lg-offset-1"> 
        <p>We love document automation. Why? It's so much more than just creating documents quickly. It takes invaluable knowledge locked up in people's heads and makes it <strong>accessible</strong> to a wider audience. It promotes a degree of <strong>standardisation</strong> which, rather than stifle creativity, allows talented authors to focus on what really matters (rather than moving punctuation around a page). It enables <strong>continuous improvement</strong> by turning documents into projects that are improved over time, rather than forgotten.</p>
        <p>We want to see law firms, in-house legal departments and other document-dependent businesses (and their clients and customers) start getting access to these benefits now and stop missing out because of the time, effort and funds necessary to develop a whole new skill-set internally. That's why our focus is on making implementing high-quality document automation projects easy and accessible to everyone.</p>
        <p>Another thing we love about document automation is the collision between designing good user experience (UX) and the precision necessary to navigate complex concepts (especially legal concepts) -  that's probably because our founder was a top-tier practicing lawyer and will remain a legal nerd for life!</p>
      </div>
    </div>
  </div>
</section>
