{{ $contact := .Site.Params.contact }}
{{ "<!-- Contact Section -->" | safeHTML }}

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        {{ with $contact.title }}
        <h2 class="section-heading">{{ . | markdownify }}</h2>
        {{ end }}

        {{ with $contact.subtitle }}
        <h3 class="section-subheading text-muted">{{ . | markdownify }}</h3>
        {{ end }}

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
          <iframe id="ZFFrame" style="border: 0;border: 0;background: url(https://create.zumeforms.com.au/assets/Images/Style1/System/form_load.gif) white center center no-repeat;border: 0px; min-height: 640px;" src="https://create.zumeforms.com.au/Home/Command?controller=Project&view=FormMin&projecturl=/Users/AutomationStation/Contact.xml&HostID=AutomationStation" width="100%" scrolling="no"></iframe>
      </div>
    </div>
  </div>
</section>
