{{ $contact := .Site.Params.contact }}
{{ "<!-- Contact Section -->" | safeHTML }}

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        {{ with $contact.title }}
        <h2 class="section-heading">{{ . | markdownify }}</h2>
        {{ end }}

        {{ with $contact.subtitle }}
        <h3 class="section-subheading text-muted">{{ . | markdownify }}</h3>
        {{ end }}

        <p>We are proudly based in Hobart, Tasmania.</p>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <iframe id="ZFFrame" src="https://create.zumeforms.com.au/Home/Command?controller=Project&view=FormMin&projecturl=/Users/AutomationStation/Automation%20Station%20Website%20Contact.xml&HostID=AutomationStation" scrolling="no"></iframe>
        <!--<script src="https://create.zumeforms.com.au/assets/js/iframeResizer.min.js" type="text/javascript"></script>-->
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <p><strong>Email: </strong><a href="mailto:contact@automationstation.com.au">contact@automationstation.com.au</a></p>
          <p><strong>Phone: </strong><a href="tel:1300690099">1300 69 00 99</a> (9 am to 5:30 pm AEST)</p>
        </div>
      </div>
    </div>
  </div>
</section>