{{ "<!-- Footer section -->" | safeHTML }}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">

          {{ range .Site.Params.footer.social }}
            <li><a href="{{ .link }}" title="{{ .title }}"><i class="{{ .icon }}"></i></a></li>
          {{ end }}

        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">

          {{ range .Site.Params.footer.quicklinks }}
            <li><a href="{{ .link }}">{{ .text  | markdownify }}</a></li>
          {{ end }}

        </ul>
      </div>
    </div>
  </div>
  <!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v3.2'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="362805001166210"
  theme_color="#D7282D"
  logged_in_greeting="Hi! Please feel free to get in touch. We will get back to you soon."
  logged_out_greeting="Hi! Please feel free to get in touch. We will get back to you soon.">
</div>
</footer>
