<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    {{ partial "nav.html" . }}

    <section id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Content</h2>
              <h3 class="section-subheading text-muted">Document automation starts with a good base document. Contracts are our speciality, but letters, purchase orders, notices - any document can be automated!</h3>
              <p>You might be an exceptional in-house legal team with high-quality, practical precedents ready to go! On the other hand, you might have big aspirations for automated documents, but no documents yet to automate. Either way, we work with your content or with content that we can help you source from others (like a law firm).</p>
            </div>
          </div>
        </div>
      </section>

      <section id="content-services" class="bg-light-blue">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Content services</h2>
              <h3 class="section-subheading text-muted">We know our way around documents (especially legal documents). We work with you to make sure everything about the generated document is perfect - from complex logic to simple formatting.</h3>
            </div>
          </div>
            <div class="row text-center">
                <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-book fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Source quality content</h4>
                  <p class="text-muted">We're not a law firm, but we know plenty of good lawyers if you'd like us to source quality content to automation for you. If you're the source, we'll work with you to identify exactly what we need to make a great automated document. </p>
                </div>
                <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-check-double fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Make your content automation ready</h4>
                  <p class="text-muted">Not just the basics like Word styles, cross-references and formatting. We can also help make sure that the logic in your automated documents is perfect (no ones likes an undefined defined-term!).</p>
                </div>
                <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-sync-alt fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Continuous improvement</h4>
                  <p class="text-muted">We not only make updating your content easy, we help you make your content better over time. We can work with you to see how users are using your forms to make decisions about how to improve them.</p>
                </div>
            </div>
        </div>
      </section>


  
      

    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}

    {{ partial "js.html" . }}
  </body>
</html>
